// buttons
$inuit-enable-btn--primary : true;
$inuit-enable-btn--icon : true;
$inuit-enable-btn--tertiary : true;
$inuit-enable-btn--disabled : true;
$inuit-enable-btn--huge : true;

$inuit-enable-margins : true;
$inuit-enable-paddings : true;

@import 'px-spacing-design/_trumps.spacing.scss';
@import 'px-buttons-design/_objects.buttons.scss';

.float-right {
  float: right;
  position: relative;
}

.force-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.center {
  text-align: center;
  background: #F0F4F7;
}

.divider {
  width: 15px;
  border-bottom: 1px solid #96A8B2;
  line-height: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.active-step {
  background: #099EC1;
  border: 1px solid #0886A4;
  color: #FFFFFF;
}
